* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.list {
    max-width: 300px;
    min-width: 100px;
    background: rgb(216, 215, 215);
    border-radius: 5px;
    height: 80vh;
    overflow-y: scroll;
}