.list {
    width: 250px;
    background: rgb(216, 215, 215);
    display: flex;
    flex-direction: column;
}

.search_wrapper {
    display: flex;
    width: 250px;
    height: 30px;
}

.search_button {
    flex: 0 0 30px;
    height: inherit;
    background: rgb(197, 197, 197);
}

.search_button:hover {
    background: rgb(126, 125, 125);
}

.search_input {
    flex: 1;
    border: 0;
    outline: none;
    text-indent: 10px;
}

.search_select {
    flex: 0 0 75px;
    outline: none;
    border: none;
    background: rgb(197, 197, 197);
    height: inherit;
}

.search_select:hover {
    cursor: pointer;
}