.item {
    width: 100%;
    display: flex;
    padding: 10px 5px 15px 15px;
    align-items: center;
    cursor: pointer;
    margin-top: 5px;
    border-bottom: 1px solid #e2e2e2;
}

.item:hover {
    background: rgb(184, 184, 184);
}

.item:active {
    background: rgb(131, 130, 130);
}

img {
    height: 40px;
    width: 40px;
}

.body {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5px;
}

.title {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.like {
    color: red;
}

button {
    border: none;
    background: inherit;
}

.success {
    font-weight: 900;
    color: green;
    text-transform: uppercase;
    font-size: 12px;
}

.failure {
    font-weight: 900;
    color: red;
}

.search {
    display: flex;
    height: 30px;
    justify-content: center;
}

.search input {
    width: 155px;
    height: inherit;
    padding: 5px;
    font-size: 16px;
}

.search select {
    padding: 5px;
    font-size: 16px;
    text-align: center;
}

.formControl {
    width: 100px;
    padding-left: 10px;
}

@media screen and (max-width: 960px) {
    .search input {
        width: 240px;
    }
    .search {
        margin-bottom: 20px;
    }
}