.item {
    height: 50px;
    display: flex;
    padding: 5px;
    padding-right: 15px;
    align-items: center;
    cursor: pointer;
    background-color: rgb(214, 214, 214);
    margin-top: 5px;
    border-radius: 5px;
}

.item:hover {
    background: rgb(184, 184, 184);
 }
 
.item:active {
    background: rgb(131, 130, 130);
}

img {
    height: 40px;
    width: 40px;
}

.body {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5px;
}

.title {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.like:hover {
    color: red;
}

button {
    border: none;
    background: inherit;
}
