.description {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 20px;
  height: 85vh;
  overflow-y: scroll;
}

.description__image {
  width: 200px;
  height: 200px;
  display: flex;
}

.description__text {
  margin-top: 40px;
}

.description__title {
  text-align: center;
  font-size: 36px;
  line-height: 42px;
}

.description__about {
  max-width: 489px;
  font-size: 18px;
  line-height: 21px;
}

.likeButton {
  position: absolute;
  font-size: 40px;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.likeButton:hover {
  color: red;
}

.likeButtonHovered {
  color: red;
}

@media screen and (max-width: 750px) {
  .description {
    height: 60vh;
  }
}