.description {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 20px;
  height: 85vh;
  overflow-y: scroll;
}

.description__image {
  width: 200px;
  height: 200px;
  display: flex;
}

.description__text {
  width: 80%;
  margin: auto;
  margin-top: 40px;
}

.description__title {
  text-align: center;
  font-size: 36px;
  line-height: 42px;
}

.description__about {
  max-width: 489px;
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 21px;
}

.likeButton {
  position: absolute;
  font-size: 40px;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.likeButton:hover {
  color: red;
}

.likeButtonHovered {
  color: red;
}

.rocketList {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  border-top: 1px solid #f1f1f1;
}

.rocketList__item {
  display: flex;
  margin-bottom: 10px;
}

.rocketList__info {
  display: flex;
  margin-top: 20px;
  margin-left: -50px;
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 13px -2px rgb(159 159 159);
}

.rocketList__button {
  width: 100px;
  padding-bottom: 5px;
  margin-left: 5px;
  border-bottom: 1px dashed #ccc;
  font-size: 18px;
}
.rocketList__button:hover {
  cursor: pointer;
  color:red;
}

.rocketList__image {
  width: 100px;
  height: 100px;
}

.rocketList__details {
  margin-left: 20px;
}

.success {
  font-weight: 900;
  color: green;
}

.failure {
  font-weight: 900;
  color: red;
}

@media screen and (max-width: 750px) {
  .description {
    height: 60vh;
  }
}