.header {
  padding: 15px 15px;
  background-image: url(https://inventure.com.ua/img/thumb.990.660/upload/pic2021-1q/SpaceX-Tesmanian_1600x.jpg);
  background-repeat: no-repeat;
  background-color: black;
  background-size: 100%;
  flex: 0 0 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerTitle {
  padding: 0;
  margin: 0;
  font-size: 25px;
  color: #ffffff;
}

.headerTitle i {
  margin-right: 15px;
}

.button_burger {
  display: none;
}

@media screen and (max-width: 750px) {
  .header {
    flex: 0 0 10vh;
    padding: 0;
    justify-content: space-around;
  }

  .button_burger {
    display: block;
    background-image: none;
    background-color: transparent;
    color: #fff;
    font-size: 30px;
  }
}