.header {
  padding: 15px 15px;
  flex: 0 0 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(https://inventure.com.ua/img/thumb.990.660/upload/pic2021-1q/SpaceX-Tesmanian_1600x.jpg);
  background-repeat: no-repeat;
  background-color: black;
  background-size: 100%;
  background-position-y: inherit;
}

.headerTitle {
  padding: 0;
  margin: 0 0 0 30px;
  font-size: 25px;
  color: #ffffff;
}

.headerTitle i {
  margin-right: 15px;
  color: #ff0081;
}

.button_burger {
  display: none;
}

.launches_stats {
  color: #ffffff;
  font-size: 18px;
}

@media screen and (max-width: 960px) {
  .header {
    flex: 0 0 10vh;
    padding: 0;
    justify-content: start;
    background-position-y: 0;
  }
  .headerTitle {
    flex-basis: 200px;
    text-align: center;
  }
  .headerTitle i {
    display: none
  }

  .button_burger {
    display: block;
    background-image: none;
    background-color: transparent;
    color: #fff;
    font-size: 30px;
    margin-left: 30px;
    cursor: pointer;
  }

  .launches_stats {
    font-size: 12px;
  }
}