.main {
    display: flex;
    flex: 1;
    position: relative;
}

@media screen and (max-width: 750px) {
    .main {
        flex-direction: column;
    }
    .list {
        height: 80vh;
    }
}
.description {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 20px;
    height: 85vh;
    overflow-y: scroll;
  }
  
.list {
    padding: 10px 0;
    width: 300px;
    background: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 85vh;
    overflow-y: scroll;
}

.search_wrapper {
    display: flex;
    width: 280px;
    height: 30px;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}

.search_button {
    flex: 0 0 30px;
    height: inherit;
    background-color: rgb(214, 214, 214);
}


.search_input {
    flex: 1;
    border: 0;
    outline: none;
    text-indent: 10px;
}

.search_select {
    flex: 0 0 75px;
    outline: none;
    border: none;
    background-color: rgb(214, 214, 214);
    height: inherit;
    cursor: pointer;
}

.search_button:hover, .search_select:hover {
    background: rgb(184, 184, 184);
}

.search_button:active, .search_select:active {
    background: rgb(131, 130, 130);
}

@media screen and (max-width: 750px) {
    .list {
        width: inherit;
    }
    .sidebar_open {
        position: absolute;
        left: 0;
        top: 82px;
        z-index: 999;
        display: block;
        width: 300px;
        box-shadow: 9px 0 14px 0 rgba(34, 60, 80, 0.23);
    }
    .sidebar_close {
        display: none;
    }
}
